.tree {
  width: 500px;
  font-family: sans-serif;
}

.node {
  background-color: #0984e3;
  border: dashed 2px #636e72;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}

.children {
  margin-left: 20px;
}

.thumbnail {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
}
.name {

}